body{
     //background-image: url("../images/royalblue.jpg");
     background-color: #2c2c4c;
     color: white;
}
h1, h2, h3, h4, h5, h6{
     margin: 0;
}
h1{  }
h2{  }
h3{  }
h4{  }
h5{  }
h6{  }
.form-control{
     color:white;
     background-color: #5c5c5c;
}
.container{
     padding-top: 45px;
}
.well{
     background-color: #3c3c3c;
     padding: 10px;
}
.well:hover{
     background-color: #990000;
}
.alert-box{
     position: fixed;
     right: 25px;
     top: 10px;
     z-index: 100;
}
.review-option{
     background-image: url("../assets/img/edit-pen-write-icon--2.png");
     width:200px;
     height:200px;
}
