<div class="container" style="padding:35px;">
     <div class="alert-box col-xs-12">
          <div uib-alert class="col-xs-3 col-xs-offset-9" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
     </div>
     <div class="form col-xs-12">
          <h2>OM Submission Form</h2>
          <hr style="margin-top:5px; margin-bottom:5px;"/>
          <ol class="breadcrumb" style="background: none; padding: 0px; margin-left:0px;">
               <li><a href="#" style="color:white;">Home</a></li>
               <li class="active" style="color:white;">OM Submission Form</li>
          </ol>
          <div class="form-group">
               <label for="name">Name</label>
               <input type="text" name="name" ng-model="submitform.name" class="form-control" placeholder="John Doe"/>
          </div>
          <div class="form-group">
               <label for="email">Email</label>
               <input type="text" name="email" ng-model="submitform.email" class="form-control" placeholder="john.doe@hotmail.com"/>
          </div>
          <div class="form-group">
               <label for="name">Subject</label>
               <input type="text" name="name" ng-model="submitform.subject" class="form-control" placeholder="Subject"/>
          </div>

          <div class="form-group">
               <label for="desc">Description</label>
               <textarea name="desc" ng-model="submitform.description" class="form-control" rows="2" style="height: 325px;" placeholder="Write your story here"></textarea>
          </div>
          <div class="form-group">
               <label for="upload">Upload File(s)</label><br/>
               <button type="button" name="upload" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>
          </div>
          <hr/>
          <button type="button" class="btn btn-success" ng-click="onSubmitForm()" ng-disabled="submitted">Submit</button>
     </div>
</div>
