<div class="container" style="padding:35px;">
     <div class="col-xs-12">
          <div class="alert-box col-xs-12">
               <div uib-alert class="col-xs-2 col-xs-offset-10" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
          </div>
          <div ng-show="(screen == 0)?true:false">
               <div class="form col-xs-10 col-xs-offset-1">
                    <h2>What would you like to do today?</h2>

                    <hr style="margin-top:5px; margin-bottom:5px;"/>

                    <div style="padding-top:160px;">
                         <div class="col-xs-4 col-xs-offset-1 well" ng-click="screen=1">
                              <center><h3 class="success">Submit Story</h3></center><hr/>
                              <center><img src="assets/img/edit-pen-write-icon--2.png" alt="..." class="img-rounded" style="width:150px; filter: invert(100%);"></center>


                         </div>
                         <div class="col-xs-4 col-xs-offset-2 well" ng-click="screen=2">
                              <center><h3>Review Submissions</h3></center><hr/>
                              <center><img src="assets/img/review-icon-13.png" alt="..." class="img-rounded" style="width:132px; filter: invert(100%);"></center>

                         </div>
                    </div>
               </div>
          </div>

          <div ng-show="(screen == 1)?true:false">
               <div class="form col-xs-10 col-xs-offset-1">
                    <h2>OM Submission Form</h2>
                    <!--<ol class="breadcrumb" style="background: none;">
                         <li><a href="#" style="color:white;">Home</a></li>
                         <li class="active" style="color:white;">Document Upload</li>
                    </ol>-->
                    <hr style="margin-top:5px; margin-bottom:5px;"/>
                    <div class="form-group">
                         <label for="name">Name</label>
                         <input type="text" name="name" ng-model="submitform.name" class="form-control"/>
                    </div>
                    <div class="form-group">
                         <label for="email">Email</label>
                         <input type="text" name="email" ng-model="submitform.email" class="form-control"/>
                    </div>
                    <div class="form-group">
                         <label for="desc">Description</label>
                         <textarea name="desc" ng-model="submitform.desc" class="form-control" rows="2" style="height: 325px;"></textarea><br/>
                    </div>
                    <div class="form-group">
                         <label for="upload">Upload File(s)</label><br/>
                         <button type="button" name="upload" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-success" ng-click="onSubmitForm()" ng-disabled="submitted">Submit</button>
               </div>
          </div>
     </div>
</div>
