<div class="container" style="padding:35px;">
     <div class="col-xs-12">
               <div class="form col-xs-12">
                    <h2>What would you like to do today?</h2>
                    <hr style="margin-top:5px; margin-bottom:5px;"/>
                    <div style="padding-top:160px;">
                         <div class="col-xs-4 col-xs-offset-1 " ng-click="screen=1">
                              <div class="well" style="width:275px; height:245px;">
                                   <a href="#!/create">
                                   <center><h3 class="success">Submit Story</h3></center><hr/>
                                   <center><img src="assets/img/edit-pen-write-icon--2.png" alt="..." class="img-rounded" style="width:150px; filter: invert(100%);"></center>
                                   </a>
                              </div>
                         </div>
                         <div class="col-xs-4 col-xs-offset-2">

                              <div class="well" style="width:275px; height:245px;">
                                   <a href="#!/review">
                                   <center><h3>Review Submissions</h3></center><hr/>
                                   <center><img src="assets/img/review-icon-13.png" alt="..." class="img-rounded" style="width:132px; filter: invert(100%);"></center>
                                   <a/>
                              </div>

                         </div>
                    </div>
               </div>
     </div>
</div>
