<div class="modal-body" id="modal-body">

     <h2>{{currStoryItem.subject}}</h2>
     <hr style="margin-top:5px; margin-bottom:5px;"/><br/>
     <div class="row">
          <div class="col-xs-7">
               <div class="form-group">
                    <label for="name">Name</label>
                    <p>{{currStoryItem.name}}</p>
               </div>
          </div>
          <div class="col-xs-2">
               <div class="form-group">
                    <label for="email">Email</label>
                    <p>{{currStoryItem.email}}</p>
               </div>
          </div>
     </div>
     <div class="form-group" style="padding-bottom:45px;">
          <label for="desc">Description</label>
          <p>{{currStoryItem.description}}</p>
     </div>
     <div class="form-group" ng-show="currStoryItem.files">
          <label for="attachments">Attachments</label>
          <table class="table" name="attachments">
               <thead>
                    <tr>
                         <td>filename</td>
                         <td>size</td>
                    </tr>
               </thead>
               <tbody>
                    <tr ng-repeat="files in currStoryItem.files">
                         <td>{{files.name}}</td>
                         <td style="width:15%">{{files.size}}</td>
                    </tr>
               </tbody>
          </table>
     </div>
     <hr/>
     <button class="btn btn-success" ng-click="onApproveClicked()">Approve</button>
     <button class="btn btn-danger" ng-click="onDeleteClicked()">Decline</button>
</div>
